body{
    background-color: rgb(134, 210, 235);
} 
#id glass ul{
               display: inline-block;
               vertical-align: top;
               width: 20%;
               margin-right 15%;
}
.imagemdna{
    width: 35%;
}